//
// Contact Us Page
// --------------------------------------------------

.webform-client-form-282 {
  // Child elements have padding. This removes that.
  @include make-row;
  // Add some space from sidebar
  @media (min-width: $screen-md-min) {
    padding-right: 100px;
  }

  // Half width form elements
  .webform-component--first-name,
  .webform-component--last-name,
  .webform-component--email,
  .webform-component--phone,
  .webform-component--city,
  .webform-component--state {
    @include make-sm-column(6);
  }
  // Full width form elements
  .webform-component--request,
  .webform-component--company-name,
  .webform-component--title,
  .webform-component--questions-comments {
    @include make-sm-column(12);
  }

  // Space below request select list
  .webform-component--request {margin-bottom: 20px;}
  // Make 
  .webform-component--request select,
  .webform-component--state select {
    @include form-control;
  }
  // Wider button
  .form-actions button {
    margin-left: $padding-base-horizontal;
    width: 200px;
  }

}

// Sidebar Boxes
body.node-type-webform {
  .region-sidebar-second {
    margin-top: 25px;
  }
  aside.col-sm-3 { padding-right: 0;}
}
section#block-boxes-contact-numbers-secondary,
section#block-boxes-contact-mailing-secondary,
section#block-boxes-social-secondary {
  padding-left: 60px;
  margin-bottom: 20px;
  color: $gray-dark;
  h2 {
    margin-top: 10px;
    color: $orange;
    font-size: $font-size-large;
  }
}

$sidebar-icon-size: 45px 45px;
// Call
#block-boxes-contact-numbers-secondary {
  background: url('../images/contact_phone.png') top left / $sidebar-icon-size no-repeat;
}
// mail
#block-boxes-contact-mailing-secondary {
  background: url('../images/contact_envelope.png') top left / $sidebar-icon-size no-repeat;
}
// Social
#block-boxes-social-secondary {
  background: url('../images/contact_social.png') top left / $sidebar-icon-size no-repeat;
  
  .social-links a {
    $social-icon-size: 40px;
    text-indent: -9999px;
    height: 45px;
    width: 45px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    background-size: $social-icon-size $social-icon-size;
    height: $social-icon-size;
    width: $social-icon-size;
  }
}
